
{% extends "base.html" %}

{% block title %}RFP Madness Knowledgebase{% endblock %}

{% block body_title %}RFP Madness Knowledgebase Home{{ rfp.title }}{% endblock %}

{% block content_title %}List of RFPs{% endblock %}

{% block content %}

    <form action="./form_submit/" method="post">

        {# token to protect against cross site scripting forgeries. #}
        {% csrf_token %}


        {% if rfp_list %}
            <ul>
                {% for rfp in rfp_list %}
                    <li><a href="./rfps/{{ rfp.id }}/">{{ rfp.prospect }} {{ rfp }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No RFPs are available.</p>
        {% endif %}

        <input type="submit" value="Submit" />
    </form>

{% endblock %}